$body-bg: #17181a !important;
$card-bg: #343a40;
$border-bg: #495057;
$input-bg: #212529;

a:hover {
  color: #7d79cc;
}

body {
  background-color: $body-bg;
  color: white;
}

.card,
.popover {
  background-color: $card-bg;
  color: white;
  border: 1px solid $border-bg;

  .card-header,
  .popover-header {
    background-color: $input-bg;
  }
}

.list-group-item {
  background-color: $card-bg;
  border: 1px solid $border-bg;
}

.form-control:focus {
  background-color: $input-bg;
  border-color: $border-bg;
}

.text-black-50 {
  color: #c0c0c0 !important;
}

.text-dark,
.link-dark {
  color: white !important;
}

.reputation {
  color: black !important;
}

.dropdown-menu {
  background-color: $card-bg;

  .dropdown-item {
    color: white;

    &:hover {
      background-color: $body-bg;
    }
  }
}

.dropdown-divider {
  border-top: 1px solid $border-bg;
}

.form-control,
.form-select {
  background-color: $input-bg;
  color: white !important;
  border: 1px solid $border-bg;
}

.input-group-text {
  background-color: $input-bg;
  border: 1px solid $border-bg;
}

.form-file-label {
  border-color: $border-bg;
}

.form-file-button {
  background-color: $input-bg;
  color: $border-bg;
}

.form-file-text {
  background-color: $body-bg;
  color: $border-bg;
}

.progress {
  background-color: $body-bg;
}

.border-bottom, hr {
  border-bottom: 1px solid $border-bg !important;
}

.border {
  border: 1px solid $border-bg !important;
}

.fa-github {
  color: white;
}

.bg-patron {
  background-color: #fffde857 !important;

  .text-secondary {
    color: white !important;
  }
}

.recent-questions {
  span {
    color: black;
  }
}

.modal-content {
  background-color: $card-bg;
}

.modal-header,
.popover-header {
  border-bottom: 1px solid $border-bg;
}

.modal-footer {
  border-top: 1px solid $border-bg;
}

.tribute-container {
  background-color: $card-bg;
  border: 1px solid $border-bg;
}

.tribute-container ul {
  background: $border-bg;
}

.tribute-container li {
  background: $card-bg;

  &.highlight {
    background: $border-bg;
  }
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 6px 6px 6px 6px #adb5bd;
}

.tippy-box {
  background-color: $input-bg !important;
  border: 1px solid $border-bg !important;
}
